.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New styles */
.dj-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Divide the screen into three equal parts */
  align-items: flex-start;
  height: 100vh; /* Optional: to make sure the grid takes the full height of the viewport */
  background-color: #39FF14; /* Dark grey */
  color: white; /* Optional: to ensure text is readable */
}


.track-container {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items horizontally */
  gap: 10px; /* Adjust the gap between items as needed */
}

.track-container.left {
  grid-column: 1 / 2; /* Place in the first third */
  align-items: center; /* Center the content within the grid cell */
}

.track-container.right {
  grid-column: 3 / 4; /* Place in the last third */
  align-items: center; /* Center the content within the grid cell */
}

.buttons-row {
  display: flex;
  flex-direction: row; /* Arrange buttons in a row */
  gap: 10px; /* Adjust the gap between buttons as needed */
}

.track-deck {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  gap: 20px; /* Adjust the gap between the record image and buttons */
}

/* CrossFader.css */
.crossfader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  grid-column: 2 / 3; /* Place in the middle column */
}

.crossfader-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 300px; /* Adjust the width as needed */
  height: 10px; /* Adjust the height as needed */
  background: #222; /* Dark grey background */
  outline: none;
}

.crossfader-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Adjust the thumb width as needed */
  height: 40px; /* Adjust the thumb height as needed */
  background: grey; /* Grey thumb */
  cursor: pointer;
  border-radius: 4px; /* Slightly rounded corners */
}

.record {
  width: 300px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
  margin: 0 auto;
  position: relative;
}

.record img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.spinning {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}